In [1]:
import requests

# Overpass API endpoint
overpass_url = "http://overpass-api.de/api/interpreter"

# Overpass QL query to get substations in Tunisia
query = """
[out:json][timeout:60];
area["name:en"="Tunisia"]->.searchArea;
(
    node["power"="substation"](area.searchArea);
    way["power"="substation"](area.searchArea);
    relation["power"="substation"](area.searchArea);
);
out center;
"""

response = requests.get(overpass_url, params={'data': query})
data = response.json()

# Extract coordinates
substations = []
for element in data['elements']:
        if element['type'] == 'node':
                lat = element['lat']
                lon = element['lon']
        elif 'center' in element:
                lat = element['center']['lat']
                lon = element['center']['lon']
        else:
                continue
        substations.append({'id': element['id'], 'lat': lat, 'lon': lon})

# substationsリストに座標が格納されています
print(substations)

[{'id': 3071939126, 'lat': 36.8819592, 'lon': 10.2856528}, {'id': 10777869754, 'lat': 36.8186597, 'lon': 10.1701969}, {'id': 11122108693, 'lat': 36.6930347, 'lon': 10.1835278}, {'id': 28943745, 'lat': 35.7356006, 'lon': 10.5456029}, {'id': 34613908, 'lat': 36.8516263, 'lon': 10.1549156}, {'id': 90999835, 'lat': 36.843821, 'lon': 10.3012275}, {'id': 93263381, 'lat': 36.796926, 'lon': 10.2814809}, {'id': 93265175, 'lat': 36.8159055, 'lon': 10.2853336}, {'id': 98620394, 'lat': 36.887007, 'lon': 10.2965612}, {'id': 101404944, 'lat': 36.8999198, 'lon': 10.1188667}, {'id': 102880836, 'lat': 36.802089, 'lon': 10.1926926}, {'id': 106469430, 'lat': 36.3078396, 'lon': 10.4436448}, {'id': 110538694, 'lat': 36.8126374, 'lon': 10.1640805}, {'id': 111375434, 'lat': 35.7829468, 'lon': 10.676475}, {'id': 111469977, 'lat': 36.8931676, 'lon': 10.1158047}, {'id': 111537857, 'lat': 35.6997918, 'lon': 10.7540766}, {'id': 115761526, 'lat': 37.1474659, 'lon': 9.8009491}, {'id': 124255547, 'lat': 35.9012516, 'lon': 10.5806237}, {'id': 124989640, 'lat': 35.8786218, 'lon': 10.5644582}, {'id': 125504235, 'lat': 36.7138682, 'lon': 10.2236527}, {'id': 126506509, 'lat': 36.7690081, 'lon': 10.232003}, {'id': 129996167, 'lat': 36.6796948, 'lon': 9.92384}, {'id': 129996179, 'lat': 37.0246139, 'lon': 9.7267964}, {'id': 130775787, 'lat': 35.7159091, 'lon': 10.5525526}, {'id': 130895161, 'lat': 36.097687, 'lon': 10.3596803}, {'id': 131220525, 'lat': 36.1247493, 'lon': 10.3716701}, {'id': 136440556, 'lat': 35.6985957, 'lon': 10.7813178}, {'id': 144480022, 'lat': 36.8575757, 'lon': 10.3161391}, {'id': 144558637, 'lat': 36.8678648, 'lon': 10.320601}, {'id': 144986809, 'lat': 36.8649366, 'lon': 10.3166796}, {'id': 144989552, 'lat': 36.8699654, 'lon': 10.3243781}, {'id': 146291766, 'lat': 36.8734862, 'lon': 10.3207344}, {'id': 146365998, 'lat': 36.8698587, 'lon': 10.329299}, {'id': 146365999, 'lat': 36.8676615, 'lon': 10.3245395}, {'id': 146880780, 'lat': 36.8670326, 'lon': 10.3171896}, {'id': 147748268, 'lat': 36.9182298, 'lon': 10.2960533}, {'id': 147748272, 'lat': 36.9097393, 'lon': 10.3012046}, {'id': 148636034, 'lat': 36.8686983, 'lon': 10.3138004}, {'id': 149608974, 'lat': 36.9163705, 'lon': 10.3110539}, {'id': 149608997, 'lat': 36.9162668, 'lon': 10.3073217}, {'id': 149653836, 'lat': 36.9037321, 'lon': 10.3117744}, {'id': 149653837, 'lat': 36.902629, 'lon': 10.3134263}, {'id': 151436445, 'lat': 36.8520854, 'lon': 10.325355}, {'id': 151670885, 'lat': 36.925601, 'lon': 10.2783208}, {'id': 152005791, 'lat': 36.8714473, 'lon': 10.3468057}, {'id': 152926582, 'lat': 36.8631425, 'lon': 10.164993}, {'id': 152926588, 'lat': 36.8648484, 'lon': 10.1653784}, {'id': 152926590, 'lat': 36.8679828, 'lon': 10.1642779}, {'id': 154635558, 'lat': 36.8737676, 'lon': 10.3170129}, {'id': 154635573, 'lat': 36.8711367, 'lon': 10.3218074}, {'id': 154804711, 'lat': 36.8093034, 'lon': 10.1833067}, {'id': 154804718, 'lat': 36.8098563, 'lon': 10.1832339}, {'id': 154804720, 'lat': 36.8095857, 'lon': 10.1832696}, {'id': 154804855, 'lat': 36.765518, 'lon': 10.2010875}, {'id': 172424816, 'lat': 36.7247094, 'lon': 10.1693023}, {'id': 172827308, 'lat': 36.5919925, 'lon': 9.3990477}, {'id': 173531194, 'lat': 36.4632102, 'lon': 10.056515}, {'id': 173534564, 'lat': 36.4698189, 'lon': 8.7527363}, {'id': 174150822, 'lat': 35.1093199, 'lon': 9.5449842}, {'id': 178326515, 'lat': 35.5877323, 'lon': 10.8790641}, {'id': 178328237, 'lat': 34.9229887, 'lon': 10.8493394}, {'id': 178494278, 'lat': 37.2110631, 'lon': 9.9691149}, {'id': 178543491, 'lat': 34.8075599, 'lon': 10.7030288}, {'id': 178547287, 'lat': 34.6880459, 'lon': 10.6406331}, {'id': 178549814, 'lat': 35.3900614, 'lon': 10.6599852}, {'id': 179549832, 'lat': 35.8533867, 'lon': 8.545964}, {'id': 179549833, 'lat': 35.8537437, 'lon': 8.5483538}, {'id': 180611326, 'lat': 33.3505569, 'lon': 10.6608144}, {'id': 180615776, 'lat': 32.975236, 'lon': 10.4853684}, {'id': 191655528, 'lat': 35.2031175, 'lon': 8.7703723}, {'id': 196086709, 'lat': 36.8473058, 'lon': 10.2050208}, {'id': 196086713, 'lat': 36.8474599, 'lon': 10.2044933}, {'id': 198577383, 'lat': 33.7675939, 'lon': 10.8911125}, {'id': 201812735, 'lat': 34.6102874, 'lon': 9.6152981}, {'id': 202286224, 'lat': 34.3245397, 'lon': 10.1040745}, {'id': 206389818, 'lat': 34.3137898, 'lon': 8.4250323}, {'id': 206449367, 'lat': 34.2500896, 'lon': 8.6984009}, {'id': 207075989, 'lat': 34.9356429, 'lon': 8.5300758}, {'id': 207339172, 'lat': 33.9092555, 'lon': 8.0538594}, {'id': 208448972, 'lat': 36.580797, 'lon': 10.828737}, {'id': 208700783, 'lat': 37.0314172, 'lon': 10.9280774}, {'id': 210136787, 'lat': 36.8688445, 'lon': 10.3233897}, {'id': 215133456, 'lat': 33.7721739, 'lon': 10.992165}, {'id': 224416644, 'lat': 35.8311948, 'lon': 9.6052145}, {'id': 224417135, 'lat': 35.3895611, 'lon': 9.5133953}, {'id': 226848748, 'lat': 35.779071, 'lon': 9.8931226}, {'id': 226852169, 'lat': 36.6937428, 'lon': 10.4164695}, {'id': 226852170, 'lat': 36.6498981, 'lon': 10.4974505}, {'id': 242384114, 'lat': 33.4701873, 'lon': 11.0107893}, {'id': 242390602, 'lat': 33.9235286, 'lon': 10.0802642}, {'id': 242392536, 'lat': 33.7365375, 'lon': 10.0686175}, {'id': 242398869, 'lat': 35.7457267, 'lon': 10.1333177}, {'id': 247749493, 'lat': 36.8757145, 'lon': 10.3296129}, {'id': 249518307, 'lat': 36.8654478, 'lon': 10.2932142}, {'id': 252028548, 'lat': 36.695882, 'lon': 8.5554177}, {'id': 252371715, 'lat': 34.9068069, 'lon': 8.5400647}, {'id': 253267945, 'lat': 36.8542768, 'lon': 10.2531603}, {'id': 253586233, 'lat': 33.6741203, 'lon': 9.0173093}, {'id': 254040579, 'lat': 37.1740072, 'lon': 9.5673722}, {'id': 255596691, 'lat': 37.0252404, 'lon': 9.0233826}, {'id': 265281135, 'lat': 37.194435, 'lon': 10.0607765}, {'id': 322419513, 'lat': 33.875076, 'lon': 9.9917319}, {'id': 322419514, 'lat': 33.9270622, 'lon': 10.0918463}, {'id': 322435574, 'lat': 34.4158702, 'lon': 8.7373911}, {'id': 322436215, 'lat': 35.1757745, 'lon': 8.8092078}, {'id': 322438795, 'lat': 36.3150673, 'lon': 8.7035352}, {'id': 322438796, 'lat': 36.2876739, 'lon': 9.2536091}, {'id': 327720597, 'lat': 37.1191424, 'lon': 9.9158136}, {'id': 327720598, 'lat': 36.8748238, 'lon': 10.0062706}, {'id': 327720599, 'lat': 36.8228448, 'lon': 10.0515151}, {'id': 327720600, 'lat': 36.8427633, 'lon': 10.2004034}, {'id': 327720602, 'lat': 36.8258313, 'lon': 10.1887362}, {'id': 327721553, 'lat': 36.7907973, 'lon': 10.1607248}, {'id': 327721554, 'lat': 36.7020198, 'lon': 10.3919898}, {'id': 327721555, 'lat': 36.8431203, 'lon': 10.9453996}, {'id': 327721556, 'lat': 36.4949281, 'lon': 10.6904284}, {'id': 327721557, 'lat': 36.4135632, 'lon': 10.647119}, {'id': 327721558, 'lat': 36.6942429, 'lon': 9.2114055}, {'id': 327721559, 'lat': 36.6640817, 'lon': 9.4443575}, {'id': 327721560, 'lat': 36.8003558, 'lon': 9.7716708}, {'id': 327721561, 'lat': 36.9093018, 'lon': 8.7735353}, {'id': 327721562, 'lat': 37.2611404, 'lon': 9.846044}, {'id': 445313507, 'lat': 36.7797613, 'lon': 10.0914357}, {'id': 445438623, 'lat': 36.864857, 'lon': 10.1356803}, {'id': 446527532, 'lat': 36.7148016, 'lon': 8.72879}, {'id': 446598137, 'lat': 35.8511428, 'lon': 8.5911616}, {'id': 538772708, 'lat': 34.7397768, 'lon': 10.7690541}, {'id': 658237760, 'lat': 32.9045163, 'lon': 10.4298797}, {'id': 671581489, 'lat': 33.8067774, 'lon': 10.9873239}, {'id': 671719938, 'lat': 36.7284254, 'lon': 10.3372447}, {'id': 706195391, 'lat': 34.7935111, 'lon': 10.7807932}, {'id': 747904250, 'lat': 34.8821264, 'lon': 9.1783315}, {'id': 833217485, 'lat': 33.918576, 'lon': 10.0389606}, {'id': 833217487, 'lat': 36.1091809, 'lon': 8.628374}, {'id': 843047682, 'lat': 36.6785778, 'lon': 9.4678567}, {'id': 895217318, 'lat': 36.6936121, 'lon': 10.4159816}, {'id': 895222818, 'lat': 36.7677406, 'lon': 10.2653218}, {'id': 895222819, 'lat': 36.7719058, 'lon': 10.215533}, {'id': 895222820, 'lat': 36.7888539, 'lon': 10.1876962}, {'id': 987368422, 'lat': 36.7074924, 'lon': 10.3793039}, {'id': 1041523967, 'lat': 36.5953478, 'lon': 10.3177857}, {'id': 1041635301, 'lat': 36.16117, 'lon': 10.2868024}, {'id': 1186509449, 'lat': 36.756379, 'lon': 10.1094068}, {'id': 1201564663, 'lat': 36.7009848, 'lon': 10.1627575}, {'id': 1201808924, 'lat': 36.699273, 'lon': 10.163575}, {'id': 1206287515, 'lat': 36.3653839, 'lon': 10.1943147}, {'id': 1301072828, 'lat': 36.5034197, 'lon': 10.6740009}, {'id': 1381275513, 'lat': 34.6012352, 'lon': 9.6134487}, {'id': 1381279590, 'lat': 34.5976132, 'lon': 9.5923519}, {'id': 1381289941, 'lat': 34.5771735, 'lon': 9.8417865}, {'id': 1381289945, 'lat': 34.5790138, 'lon': 9.8427071}, {'id': 1384342230, 'lat': 34.6020574, 'lon': 9.5973952}, {'id': 1384342231, 'lat': 34.6020454, 'lon': 9.5973514}, {'id': 1387026298, 'lat': 34.5708603, 'lon': 9.4281574}, {'id': 1387026304, 'lat': 34.5760556, 'lon': 9.4216529}, {'id': 1415396669, 'lat': 34.5997514, 'lon': 9.602527}]

In [2]:
import pandas as pd

# 変電所の名前と座標を抽出
rows = []
for element in data['elements']:
    # 名前がある場合のみ抽出
    name = element.get('tags', {}).get('name')
    if element['type'] == 'node':
        lat = element['lat']
        lon = element['lon']
    elif 'center' in element:
        lat = element['center']['lat']
        lon = element['center']['lon']
    else:
        continue
    rows.append({'name': name, 'lat': lat, 'lon': lon})

df = pd.DataFrame(rows)
# Excelに出力
df.to_excel('tunisia_substations.xlsx', index=False)
df.head()

                name        lat        lon
0     POSTE CHOTRANA  36.881959  10.285653
1      ZOO BELVEDERE  36.818660  10.170197
2               None  36.693035  10.183528
3  Poste Msaken Nord  35.735601  10.545603
4   Poste Tunis Nord  36.851626  10.154916